.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list h1 {
    font-size: 2em;
    text-decoration: underline;
    margin-top: 1em;
}

.user-entries {
    font-size: 1.5em;
    margin: .5em;
}