.homepage-container {
    height: 90vh - 3rem;
    width: 100vw;
    margin-top: 3rem;
    display: flex;
    /* justify-content: space-around; */
}

.profile-friends-wrap {
    margin: 0 0 0 auto;
}

.homepage-profile {
    /* border: 1px solid black; */
    height: 20vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-profile h2,
.homepage-friends {
    font-size: 2em;
}

.homepage-profile h2 {
    align-self: flex-start;
    margin-bottom: 1em;
}

.homepage-image-container {
    width: 11vw;
    height: 21vh;
    margin-top: .5em;
}

.homepage-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
}

.homepage-friends {
    /* border: 1px solid black; */
    height: 45vh;
    width: 22vw;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
}

.chatbox {
    width: 25vw;
    height: 60vh;
    margin: 0 auto 0 0;
}

.chat-title {
    font-size: 2em;
    margin-top: .5em;
    text-align: center;
}

.chat-heading {
    margin: .5em 0 1em;;
    text-align: center;
}

.messages {
    border: 1px solid black;
    width: 90%;
    height: 37vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

.message {
    margin: .5em 0 0 .5em;
}

.chat-input {
    font-size: 1.1em;
    margin: 1em .5em 0 1.3em;
    width: 75%;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    padding-left: .3em;
}

.chat-submit {
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
