.profile-container {
    margin-top: 3rem;
    height: 90vh - 3rem;
    width: 100vw;
    display: flex;
}

.profile-bio {
    border: 1px solid black;
    height: 80vh;
    width: 29vw;
    margin: 0 0 0 auto;
}

.profile-stats {
    border: 1px solid black;
    width: 15vw;
    height: 80vh;
    margin: 0 auto;
}

.image-container {
    border: 1px solid black;
    width: 90%;
    height: 28vh;
    margin: 1em auto;
}

.about-me-container {
    border: 1px solid black;
    width: 90%;
    height: 46vh;
    margin: 0 auto;
}


