.profile-container {
    margin-top: 3rem;
    height: 90vh - 3rem;
    width: 100vw;
    display: flex;
}

.profile-bio {
    height: 80vh;
    width: 29vw;
    margin: 0 0 0 auto;
}

.image-container {
    width: 90%;
    height: 30vh;
    margin: 1em auto 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-wrap {
    width: 220px;
    height: 240px;
    margin-bottom: 2em;
}

.profile-image {
    width: 100%;
    border-radius: 5%;
}

.upload-button {
    font-size: 1em;
    padding: .5em 1em;
    border: none;
    background: transparent;
    cursor: pointer;
}

.about-me-container {
    width: 100%;
    height: 46vh;
    margin: 0 auto;
}

.about-me-title {
    display: flex;
}

.about-me-edit {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -.5em;
    padding-left: .75em;
}

.about-me-container h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

.about-me-p {
    font-size: 1.1em;
    line-height: 1.5;
}

.bio-body {
    width: 97% !important;
}

.bio-submit {
    margin-bottom: 1em;
}

.profile-stats {
    width: 17vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-stats h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.profile-stats p {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.profile-stats h3 {
    font-size: 2em;
}

/* Avatar Upload */
.image-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em; 
}

.image-uploader input {
    cursor: pointer;
}

.image-upload-submit {
    margin-bottom: 1em;
}

.image-upload.cancel {
    width: 100%;
}
